<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ service.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Nombre:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="service.name"
                  formControlName="name"
                  [class.is-invalid]="
                    theFormGroup.get('name')?.invalid &&
                    (theFormGroup.get('name')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('name')?.valid &&
                    (theFormGroup.get('name')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.name.errors &&
                    (getTheFormGroup.name.dirty ||
                      getTheFormGroup.name.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.name.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.name.errors.minlength"
                    class="msnError"
                    >Inválido: Mínimo 3 caracteres
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Descripcion</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="service.description"
                  formControlName="description"
                  [class.is-invalid]="
                    theFormGroup.get('description')?.invalid &&
                    (theFormGroup.get('description')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('description')?.valid &&
                    (theFormGroup.get('description')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.description.errors &&
                    (getTheFormGroup.description.dirty ||
                      getTheFormGroup.description.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.description.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.description.errors.maxlength"
                    class="msnError"
                    >Inválido: Máximo 255 caracteres
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Precio:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="service.price"
                  formControlName="price"
                  [class.is-invalid]="
                    theFormGroup.get('price')?.invalid &&
                    (theFormGroup.get('price')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('price')?.valid &&
                    (theFormGroup.get('price')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.price.errors &&
                    (getTheFormGroup.price.dirty ||
                      getTheFormGroup.price.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.price.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.price.errors.min"
                    class="msnError"
                    >Inválido: Mínimo 1
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Estado:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="service.status"
                  formControlName="status"
                  [class.is-invalid]="
                    theFormGroup.get('status')?.invalid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('status')?.valid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.status.errors &&
                    (getTheFormGroup.status.dirty ||
                      getTheFormGroup.status.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.status.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.status.errors.pattern"
                    class="msnError"
                    >Inválido: Solo debe ser activo o inactivo
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Administrador:</label>
              </div>
              <div class="col-8">
                <select
                  [(ngModel)]="service.administrator_id"
                  formControlName="administrator_id"
                  class="form-control"
                  [class.is-invalid]="
                    theFormGroup.get('administrator_id')?.invalid &&
                    (theFormGroup.get('administrator_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('administrator_id')?.valid &&
                    (theFormGroup.get('administrator_id')?.touched || trySend)
                  "
                >
                  <option value="" disabled>Seleccionar Administrador</option>
                  <option *ngFor="let admin of administrators" [value]="admin.id">{{ admin.name }}</option>
                </select>
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.administrator_id.errors &&
                    (getTheFormGroup.administrator_id.dirty ||
                      getTheFormGroup.administrator_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.administrator_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col text-center">
                <button
                  class="btn btn-success btn-block"
                  (click)="create()"
                  *ngIf="mode == 2"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  (click)="update()"
                  *ngIf="mode == 3"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
