<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup" (ngSubmit)="mode === 2 ? create() : update()">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ route.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Contrato:</label>
              </div>
              <div class="col-8">
                <select
                  formControlName="contract_id"
                  class="form-control"
                  [class.is-invalid]="
                    theFormGroup.get('contract_id')?.invalid &&
                    (theFormGroup.get('contract_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('contract_id')?.valid &&
                    (theFormGroup.get('contract_id')?.touched || trySend)
                  "
                >
                  <option *ngFor="let contract of contracts" [value]="contract.id">{{ contract.id }} </option>

                </select>
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.contract_id.errors &&
                    (getTheFormGroup.contract_id.dirty ||
                      getTheFormGroup.contract_id.touched ||
                      trySend)
                  "
                >
                  <small *ngIf="getTheFormGroup.contract_id.errors.required">El contrato es requerido.</small>
                  <small *ngIf="getTheFormGroup.contract_id.errors.min">El contrato debe ser válido.</small>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Vehículo:</label>
              </div>
              <div class="col-8">
                <select
                  formControlName="vehicle_id"
                  class="form-control"
                  [class.is-invalid]="
                    theFormGroup.get('vehicle_id')?.invalid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('vehicle_id')?.valid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                >
                  <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.plate }} </option>

                </select>
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.vehicle_id.errors &&
                    (getTheFormGroup.vehicle_id.dirty ||
                      getTheFormGroup.vehicle_id.touched ||
                      trySend)
                  "
                >
                  <small *ngIf="getTheFormGroup.vehicle_id.errors.required">El vehículo es requerido.</small>
                  <small *ngIf="getTheFormGroup.vehicle_id.errors.min">El vehículo debe ser válido.</small>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary">{{ mode === 2 ? 'Crear' : 'Actualizar' }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
