<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ route.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Contrato Id:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="route.contract_id"
                  formControlName="contract_id"
                  [class.is-invalid]="
                    theFormGroup.get('contract_id')?.invalid &&
                    (theFormGroup.get('contract_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('contract_id')?.valid &&
                    (theFormGroup.get('contract_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.contract_id.errors &&
                    (getTheFormGroup.contract_id.dirty ||
                      getTheFormGroup.contract_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.contract_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.contract_id.errors.min"
                    class="msnError"
                    >Inválido: Debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Vehiculo:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="route.vehicle_id"
                  formControlName="vehicle_id"
                  [class.is-invalid]="
                    theFormGroup.get('vehicle_id')?.invalid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('vehicle_id')?.valid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.vehicle_id.errors &&
                    (getTheFormGroup.vehicle_id.dirty ||
                      getTheFormGroup.vehicle_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.vehicle_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.vehicle_id.errors.min"
                    class="msnError"
                    >Inválido: Debe ser mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col text-center">
                <button
                  class="btn btn-success btn-block"
                  (click)="create()"
                  *ngIf="mode == 2"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  (click)="update()"
                  *ngIf="mode == 3"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
