<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ expenses.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Monto:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="expenses.amount"
                  formControlName="amount"
                  [class.is-invalid]="
                    theFormGroup.get('amount')?.invalid &&
                    (theFormGroup.get('amount')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('amount')?.valid &&
                    (theFormGroup.get('amount')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.amount.errors &&
                    (getTheFormGroup.amount.dirty ||
                      getTheFormGroup.amount.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.amount.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.amount.errors.min"
                    class="msnError"
                    >Inválido: Mayor a 0
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Descripcion:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="expenses.description"
                  formControlName="description"
                  [class.is-invalid]="
                    theFormGroup.get('description')?.invalid &&
                    (theFormGroup.get('description')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('description')?.valid &&
                    (theFormGroup.get('description')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.description.errors &&
                    (getTheFormGroup.description.dirty ||
                      getTheFormGroup.description.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.description.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.description.errors.maxlength"
                    class="msnError"
                    >Inválido: Máximo 255 caracteres
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Fecha:</label>
              </div>
              <div class="col-8">
                <input
                  type="date"
                  [(ngModel)]="expenses.date"
                  formControlName="date"
                  [class.is-invalid]="
                    theFormGroup.get('date')?.invalid &&
                    (theFormGroup.get('date')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('date')?.valid &&
                    (theFormGroup.get('date')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.date.errors &&
                    (getTheFormGroup.date.dirty ||
                      getTheFormGroup.date.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.date.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Dueño:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="expenses.owner_id"
                  formControlName="owner_id"
                  [class.is-invalid]="
                    theFormGroup.get('owner_id')?.invalid &&
                    (theFormGroup.get('owner_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('owner_id')?.valid &&
                    (theFormGroup.get('owner_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.owner_id.errors &&
                    (getTheFormGroup.owner_id.dirty ||
                      getTheFormGroup.owner_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.owner_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Servicio:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="expenses.service_id"
                  formControlName="service_id"
                  [class.is-invalid]="
                    theFormGroup.get('service_id')?.invalid &&
                    (theFormGroup.get('service_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('service_id')?.valid &&
                    (theFormGroup.get('service_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.service_id.errors &&
                    (getTheFormGroup.service_id.dirty ||
                      getTheFormGroup.service_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.service_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Conductor:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="expenses.driver_id"
                  formControlName="driver_id"
                  [class.is-invalid]="
                    theFormGroup.get('driver_id')?.invalid &&
                    (theFormGroup.get('driver_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('driver_id')?.valid &&
                    (theFormGroup.get('driver_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.driver_id.errors &&
                    (getTheFormGroup.driver_id.dirty ||
                      getTheFormGroup.driver_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.driver_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Factura:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="expenses.receipt_id"
                  formControlName="receipt_id"
                  [class.is-invalid]="
                    theFormGroup.get('receipt_id')?.invalid &&
                    (theFormGroup.get('receipt_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('receipt_id')?.valid &&
                    (theFormGroup.get('receipt_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.receipt_id.errors &&
                    (getTheFormGroup.receipt_id.dirty ||
                      getTheFormGroup.receipt_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.receipt_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col text-center">
                <button
                  class="btn btn-success btn-block"
                  (click)="create()"
                  *ngIf="mode == 2"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  (click)="update()"
                  *ngIf="mode == 3"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
