<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ vehiDrive.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Vehiculo:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="vehiDrive.vehicle_id"
                  formControlName="vehicle_id"
                  [class.is-invalid]="
                    theFormGroup.get('vehicle_id')?.invalid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('vehicle_id')?.valid &&
                    (theFormGroup.get('vehicle_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.vehicle_id.errors &&
                    (getTheFormGroup.vehicle_id.dirty ||
                      getTheFormGroup.vehicle_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.vehicle_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Conductor:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  [(ngModel)]="vehiDrive.driver_id"
                  formControlName="driver_id"
                  [class.is-invalid]="
                    theFormGroup.get('driver_id')?.invalid &&
                    (theFormGroup.get('driver_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('driver_id')?.valid &&
                    (theFormGroup.get('driver_id')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.driver_id.errors &&
                    (getTheFormGroup.driver_id.dirty ||
                      getTheFormGroup.driver_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.driver_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >

                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Estado:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="vehiDrive.status"
                  formControlName="status"
                  [class.is-invalid]="
                    theFormGroup.get('status')?.invalid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('status')?.valid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.status.errors &&
                    (getTheFormGroup.status.dirty ||
                      getTheFormGroup.status.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.status.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.status.errors.pattern"
                    class="msnError"
                    >Inválido: Solo debe ser activo o inactivo
                  </strong>
                </div>
              </div>
            </div>



            <div class="row px-4 py-2">
              <div class="col text-center">
                <button
                  class="btn btn-success btn-block"
                  (click)="create()"
                  *ngIf="mode == 2"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  (click)="update()"
                  *ngIf="mode == 3"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
