<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup" (ngSubmit)="mode === 2 ? create() : update()">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ products.id }}</p>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="description">Descripción:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('description')?.invalid && (theFormGroup.get('description')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('description')?.valid && (theFormGroup.get('description')?.touched || trySend)"
                />
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('description')?.errors && (theFormGroup.get('description')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('description')?.errors.required">Descripción requerida.</strong>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="weight">Peso:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  id="weight"
                  formControlName="weight"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('weight')?.invalid && (theFormGroup.get('weight')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('weight')?.valid && (theFormGroup.get('weight')?.touched || trySend)"
                />
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('weight')?.errors && (theFormGroup.get('weight')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('weight')?.errors.required">Peso requerido.</strong>
                  <strong *ngIf="theFormGroup.get('weight')?.errors.min">Peso debe ser mayor a 0.</strong>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="size">Tamaño:</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  id="size"
                  formControlName="size"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('size')?.invalid && (theFormGroup.get('size')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('size')?.valid && (theFormGroup.get('size')?.touched || trySend)"
                />
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('size')?.errors && (theFormGroup.get('size')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('size')?.errors.required">Tamaño requerido.</strong>
                  <strong *ngIf="theFormGroup.get('size')?.errors.min">Tamaño debe ser mayor a 0.</strong>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="type">Tipo:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  id="type"
                  formControlName="type"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('type')?.invalid && (theFormGroup.get('type')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('type')?.valid && (theFormGroup.get('type')?.touched || trySend)"
                />
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('type')?.errors && (theFormGroup.get('type')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('type')?.errors.required">Tipo requerido.</strong>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="client_id">Cliente:</label>
              </div>
              <div class="col-8">
                <select
                  id="client_id"
                  formControlName="client_id"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('client_id')?.invalid && (theFormGroup.get('client_id')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('client_id')?.valid && (theFormGroup.get('client_id')?.touched || trySend)"
                >
                  <option value="" disabled>Seleccionar Cliente</option>
                  <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
                </select>
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('client_id')?.errors && (theFormGroup.get('client_id')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('client_id')?.errors.required">Cliente requerido.</strong>
                </div>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-4">
                <label for="lot_id">Lote:</label>
              </div>
              <div class="col-8">
                <select
                  id="lot_id"
                  formControlName="lot_id"
                  class="form-control"
                  [class.is-invalid]="theFormGroup.get('lot_id')?.invalid && (theFormGroup.get('lot_id')?.touched || trySend)"
                  [class.is-valid]="theFormGroup.get('lot_id')?.valid && (theFormGroup.get('lot_id')?.touched || trySend)"
                >
                  <option value="" disabled>Seleccionar Lote</option>
                  <option *ngFor="let lot of lots" [value]="lot.id">{{ lot.id }}</option>
                </select>
                <div class="text-danger mt-1" *ngIf="theFormGroup.get('lot_id')?.errors && (theFormGroup.get('lot_id')?.touched || trySend)">
                  <strong *ngIf="theFormGroup.get('lot_id')?.errors.required">Lote requerido.</strong>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col text-center">
                <button type="submit" class="btn btn-success" *ngIf="mode === 2">Crear</button>
                <button type="submit" class="btn btn-success" *ngIf="mode === 3">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
