<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode == 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>Id:</label>
              </div>
              <div class="col-8">
                <p>{{ owner.id }}</p>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Tipo:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  [(ngModel)]="owner.type"
                  formControlName="type"
                  [class.is-invalid]="
                    theFormGroup.get('type')?.invalid &&
                    (theFormGroup.get('type')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('type')?.valid &&
                    (theFormGroup.get('type')?.touched || trySend)
                  "
                />
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.type.errors &&
                    (getTheFormGroup.type.dirty ||
                      getTheFormGroup.type.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.type.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.type.errors.minlength"
                    class="msnError"
                    >Inválido: Mínimo 3 caracteres
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Estado:</label>
              </div>
              <div class="col-8">
                <p *ngIf="mode == 1">{{ owner.status ? 'Activo' : 'Inactivo' }}</p>
                <select
                  *ngIf="mode != 1"
                  formControlName="status"
                  class="form-control"
                  [class.is-invalid]="
                    theFormGroup.get('status')?.invalid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('status')?.valid &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                >
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    theFormGroup.get('status')?.errors &&
                    (theFormGroup.get('status')?.touched || trySend)
                  "
                >
                  <strong *ngIf="theFormGroup.get('status')?.errors?.required" class="msnError">
                    El estado es requerido.
                  </strong>
                </div>
              </div>
            </div>

            <div class="row px-4 py-2">
              <div class="col-4">
                <label>Usuario:</label>
              </div>
              <div class="col-8">
                <select
                  [(ngModel)]="owner.user_id"
                  formControlName="user_id"
                  class="form-control"
                  [class.is-invalid]="
                    theFormGroup.get('user_id')?.invalid &&
                    (theFormGroup.get('user_id')?.touched || trySend)
                  "
                  [class.is-valid]="
                    theFormGroup.get('user_id')?.valid &&
                    (theFormGroup.get('user_id')?.touched || trySend)
                  "
                >
                  <option value="" disabled>Seleccionar Usuario</option>
                  <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
                </select>
                <div
                  class="text-danger mt-1"
                  *ngIf="
                    getTheFormGroup.user_id.errors &&
                    (getTheFormGroup.user_id.dirty ||
                      getTheFormGroup.user_id.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.user_id.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>
            <div class="row px-4 py-2">
              <div class="col text-center">
                <button
                  class="btn btn-success btn-block"
                  (click)="create()"
                  *ngIf="mode == 2"
                >
                  Crear
                </button>
                <button
                  class="btn btn-success btn-block"
                  (click)="update()"
                  *ngIf="mode == 3"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
